.popup{
    width: 500px;
    height: 300px;
    background: lightblue;
    border: 1px solid black;
    position: fixed;
    top:200px;
    left: 50%;
    margin-left: -250px;
}

.popup h3{
    text-align: center;
}

.popup p{
    margin-top: 50px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between
}